<%= form_for(cleaner, html: {:class => "form-horizontal"}) do |f| %>
  <% if cleaner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cleaner.errors.count, "error") %> prohibited this cleaner from being saved:</h2>

      <ul>
      <% cleaner.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :first_name, class: "col-md-2 control-label" %>
    <div class="col-md-8">
      <%= f.text_field :first_name, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :last_name, class: "col-md-2 control-label" %>
    <div class="col-md-8">
      <%= f.text_field :last_name, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :email, class: "col-md-2 control-label" %>
    <div class="col-md-8">
      <%= f.text_field :email, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :quality_score, class: "col-md-2 control-label" %>
    <div class="col-md-8">
      <%= f.text_field :quality_score, class: "form-control" %>
    </div>
  </div>

  <div class="actions" align="center">
    <%= f.submit class: "btn btn-primary btn-sm" %>
  </div>
<% end %>
