<p id="notice"><%= notice %></p>

<h1>Cleaners</h1>

<table class="table table-classes table-condensed">
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Quality score</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% unless @cleaners.empty? %>
      <% @cleaners.each do |cleaner| %>
        <tr>
          <td><%= cleaner.first_name %></td>
          <td><%= cleaner.last_name %></td>
          <td><%= cleaner.email %></td>
          <td><%= cleaner.quality_score %></td>
          <td>
            <%= link_to 'Show', cleaner, class: 'btn btn-primary btn-sm' %>
            <%= link_to 'Edit', edit_cleaner_path(cleaner), class: 'btn btn-info btn-sm' %>
            <%= link_to 'Destroy', cleaner, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<div class="contextual">
  <%= link_to(new_cleaner_path, class: "btn btn-success") do %>
    New Cleaner <i class="icon-plus icon-white"></i>
  <% end %>
</div>
