<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @cleaner.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @cleaner.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @cleaner.email %>
</p>

<p>
  <strong>Quality score:</strong>
  <%= @cleaner.quality_score %>
</p>

<%= link_to 'Edit', edit_cleaner_path(@cleaner) %> |
<%= link_to 'Back', cleaners_path %>
