<%= bootstrap_form_for(booking, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10") do |f| %>
  <% if booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.select :customer_id, @customers, prompt: "select a cusomer", label: "Customer Name:", class: "selectpicker"  %>
  </div>
  <div class="field">
    <%= f.collection_select :cleaner_id, Cleaner.all, :id, :name, prompt: "select a cleaner", label: "Cleaner Name:"%>
  </div>

  <div class="actions" align="center">
    <%= f.primary %>
  </div>

<% end %>
