<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @booking.customer.name %>
</p>

<p>
  <strong>Cleaner:</strong>
  <%= @booking.cleaner.name %>
</p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
