<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @booking.customer.name %>
</p>

<p>
  <strong>Cleaner:</strong>
  <%= @booking.cleaner.name %>
</p>

<nav aria-label="...">
  <ul class="pager">
    <li class="previous"><%= link_to 'Back', bookings_path %></li>
    <li class="previous"><%= link_to 'Edit', edit_booking_path(@booking) %></li>
  </ul>
</nav>
