<p id="notice"><%= notice %></p>

<h1>Customers</h1>

<table class="table table-classes table-condensed table-responsive">
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Phon number</th>
      <th>Custom Booking Counts</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% unless @customers.empty? %>
      <% @customers.each do |customer| %>
        <tr>
          <td><%= customer.first_name %></td>
          <td><%= customer.last_name %></td>
          <td><%= customer.email %></td>
          <td><%= customer.phon_number %></td>
          <td><%= customer.custome_bookings.count %></td>
          <td>
            <%= link_to 'Show', customer, class: 'btn btn-sm' %>
            <%= link_to 'Edit', edit_customer_path(customer), class: 'btn btn-info btn-sm' %>
            <%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<div class="contextual">
  <%= link_to(new_customer_path, class: "btn btn-success") do %>
    New Customer <i class="icon-plus icon-white"></i>
  <% end %>
</div>
