<!DOCTYPE html>
<html>
  <head>
    <title>BookingApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to 'Bookings', bookings_path %>
    <%= link_to 'Custome_bookings', custome_bookings_path %>
    <%= link_to 'Customers', customers_path %>
    <%= link_to 'Cleaners', cleaners_path %>

    <%= yield %>
  </body>
</html>
